.search-block{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 3em;
    border-radius: 1.5em;
    background-color: #fff;
    padding: 0 20px;
}
.search-block input{
    border: none;
    padding: 0;
}
.search-block>button{
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    height: 20px;
}
.search-block svg{
    height: 100%;
    fill: silver;
    cursor: pointer;
}
.search-result{
    position: absolute;
    top: 60px;
    left: 12px;
    font-size: 12px;
}